:root {
    --primary-color: #ffcc00;
    --secondary-color: #ff6699;
    --accent-color: #66ccff;
    --hover-border-color: #333;
    --hover-background-color: #fff;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(135deg, var(--primary-color), var(--secondary-color), var(--accent-color));
    background-size: 200% 200%;
    animation: gradientAnimation 10s ease infinite;
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

header {
    text-align: center;
    /* background-color: var(--primary-color); */
    padding: 10px;
}

h1 {
    font-size: 36px;
}

nav {
    /* background-color: var(--primary-color); */
    display: flex;
    justify-content: center;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

li {
    margin: 0 10px;
}

a {
    color: var(--primary-color);
    text-decoration: none;
    font-size: 20px;
    padding: 5px;
    border: 1px solid transparent;
    transition: border 0.3s ease-in-out, color 0.3s ease-in-out;
}

a:hover {
    border: 1px solid var(--hover-border-color);
    border-radius: 5px;
    background-color: var(--hover-background-color);
    color: var(--hover-border-color);
}

main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.welcome-section {
    text-align: center;
}

.gallery-section {
    margin-top: 40px;
}

.cat-gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 20px;
}

.cat-gallery img {
    width: 100%;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease-in-out;
}

.cat-gallery img:hover {
    transform: scale(1.05);
}

footer {
    text-align: center;
    /* background-color: var(--primary-color); */
    padding: 10px;
}
